* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

h1 {
  color: #fcba18;
  margin: 1% 0 0.3% 2%;
}

ul li{
  color: #555555;
  margin: 0.3% 0 1% 2.4%;
  list-style-type: none;
}

h2{
  color: #9dc183;
  margin: 0.5% 0 0.2% 2%;
}

p{
  color: #555555;
  margin: 0 0 0.7% 2.4%;
}

h3{
  color: #537db9;
  margin: 0 0 0 2%;
}
